name: telegram_sender

services:

  grafana:
    image: grafana/grafana:main-ubuntu
    container_name: grafana_main
    # restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
        # This settigns will override th conf/grafana.ini
      - TZ=America/Mexico_City
      - GF_DEFAULT_INSTANCE_NAME=${GF_INSTANCE_NAME}
      - GF_SECURITY_ADMIN_USER=${GF_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_FADMIN_PASSWORD}
    volumes:
      - grafana-data:/var/lib/grafana
      # - ./grafana/provisioning/:/etc/grafana/provisioning/
    depends_on:
      - loki
    networks:
      - skynet

  alloy:
    image: grafana/alloy:v1.12.2
    container_name: alloy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./grafana/alloy/config.alloy:/etc/alloy/config.alloy
    command:
      - run
      - /etc/alloy/config.alloy
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy
    environment:
      - ALLOY_LOG_LEVEL=info
    depends_on:
      - loki
    networks:
      - skynet

  loki:
    image: grafana/loki:main-1fa1a15
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./grafana/loki/loki-config.yml:/etc/loki/config.yml
      - loki-data:/loki
    command: -config.file=/etc/loki/config.yml
    networks:
      - skynet
  
  py_telebot:
    build:
      context: ./src
      dockerfile: dockerfile.py_telebot
    image: telegram_sender:2.0.0
    container_name: py_telebot
    restart: always
    environment:
      app_mode: test
      TZ: America/Mexico_City
    ports:
      - "8036:8036"
    volumes:
      - data_volume:/app/app/data
    labels:
      app: telegram_sender
      env: test
      team: backend
    networks:
      - skynet
    depends_on:
      - loki

networks:
  skynet:
    driver: bridge

volumes:
  data_volume:
  loki-data:
  grafana-data: