name: telegram_sender

services:
  py_telebot:
    build:
      context: ./src
      dockerfile: dockerfile.py_telebot
    image: telegram_sender:2.0.0
    container_name: py_telebot
    restart: always
    environment:
      app_mode: test
    ports:
      - "8036:8036"